.jumbotron {
    /*background: url("#") no-repeat center;*/
    background-color: transparent;
    max-height: 60vh;
}
.faq-section,
.faq-section::before,
.faq-section::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.faq-text{
    margin-top: 5em;
}

.wavy{
    position: relative;
    -webkit-box-reflect:below -60px linear-gradient(transparent,rgba(94, 211, 160, 0.3));
}
.wavy span{
    position: relative;
    display:inline-block;
    color: #1ec27a;
    font-size: 7rem;
    text-transform: uppercase;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.1s  * var(--i));
    font-weight: bold;
}

@keyframes animate{
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-20px);
    }
    40%,100%{
        transform: translateY(0px);
    } 
}

section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.acordion-container
{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.accordion
{
    max-width: 80%;
}
.accordion .contentBx
{
    position: relative;
    margin: 10px 20px;
}
.accordion .contentBx .label
{
    position: relative;
    padding: 10px;
    background: #5cc990;
    color:#8fe3ae ;
    cursor: pointer;
    border-radius: 15px 15px 10px 10px;
}
.accordion .contentBx .label p {
    max-width: 92%;
    text-align: justify;
    color: #cfe9d9;
    font-weight: bold;
}
.accordion .contentBx .label::before
{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1cm;
}
.accordion .contentBx.active .label::before
{
    content: '-';
}
.accordion .contentBx .content
{
    position:relative ;
    background:#8fe3ae ;
    height: 0;
    overflow: hidden;
    transition: 0.5%;
    overflow-y: auto;
    border-radius: 10px 10px 15px 15px;
    transition: all 0.3s ease-in-out;
}
.accordion .contentBx .content p{
    margin: 10px 20px;
    text-align: justify;
    color: #02773f;
    font-weight: bold;
}
.accordion .contentBx.active .content
{
    height: 100px;
}

@media (max-width: 768px) {
    .accordion
    {
        max-width: 90%;
    }
    .accordion .contentBx.active .content
    {
        height: 120px;
    }
}
@media (max-width: 576px) {
    .accordion .contentBx.active .content
    {
        height: 155px;
    }
}
@media (max-width: 426px) {
    .accordion .contentBx.active .content
    {
        height: 190px;
    }
    .accordion .contentBx .label p {
        max-width: 85%;
        font-size: 1rem;
    }
    .accordion .contentBx .content p{
        font-size: 1rem;
    }
}
@media (max-width: 376px) {
    .acordion-container
    {
        margin-top: 15px;
    }
    .accordion .contentBx.active .content
    {
        height: 200px;
    }
    .accordion .contentBx .label p {
        max-width: 90%;
    }
    .accordion .contentBx .content p{
        margin: 10px 10px;
    }
    .accordion .contentBx .label::before
    {
        right: 10px;
    }
}
@media (max-width: 321px) {
    .accordion .contentBx.active .content
    {
        height: 180px;
    }
    .accordion .contentBx .label p {
        max-width: 95%;
        font-size: .9rem;
    }
    .accordion .contentBx .content p{
        font-size: .9rem;
    }
    .accordion .contentBx .label::before
    {
        right: 5px;
        font-size: .5cm;
    }
}