.text-align-center{
    text-align: center;
}
.color-title-faq, .color-title-faq:not(.collapsed){
    background-color: #273242;
    border: 0px;
    color: #FFFFFF;
    font-size: 21px;
}
.color-inside-faq{
    background-color: #273242;
    color: #FFFFFF;
    font-size: 16px;
}
iframe{
    max-width: 100%;
}
.faq-radialGradient-title{
    position: relative;
    border-radius: 1rem 1rem 0rem 0rem !important ;
    -webkit-border-radius: 1rem 1rem 0rem 0rem !important ;
    -moz-border-radius: 1rem 1rem 0rem 0rem !important ;
    -ms-border-radius: 1rem 1rem 0rem 0rem !important ;
    -o-border-radius: 1rem 1rem 0rem 0rem !important ;
}
.faq-radialGradient-inside{
    position: relative;
    border-radius: 0rem 0rem 1rem 1rem !important ;
    -webkit-border-radius: 0rem 0rem 1rem 1rem !important ;
    -moz-border-radius: 0rem 0rem 1rem 1rem !important ;
    -ms-border-radius: 0rem 0rem 1rem 1rem !important ;
    -o-border-radius: 0rem 0rem 1rem 1rem !important ;
}
.faq-radialGradient {
    border-radius: 1rem !important;
    border: none;
}
.accordion-button::after, .accordion-button:not(.collapsed)::after{
    filter: brightness(0%) invert(100%);
}
.accordion-button:focus{
    box-shadow: inherit;
}

.jumbotron {
    /*background: url("#") no-repeat center;*/
    background-color: transparent;
    max-height: 60vh;
}
.faq-section,
.faq-section::before,
.faq-section::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.faq-text{
    margin-top: 3em;
}

.wavy{
    position: relative;
    -webkit-box-reflect:below -60px linear-gradient(transparent,rgba(94, 211, 160, 0.3));
}
.wavy span{
    position: relative;
    display:inline-block;
    color: #273242;
    font-size: 7rem;
    text-transform: uppercase;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.1s  * var(--i));
    font-weight: bold;
}

@keyframes animate{
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-20px);
    }
    40%,100%{
        transform: translateY(0px);
    } 
}

section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
	display:none;
}
.timeline-yr {
	width: 50px;
	height: 50px;
}
.timeline-yr span{
	font-size: 400%;
	line-height: 50px;
    color: #fff;
    border-radius: 100%;
    background-color: #273242;
}
.timeline-info {
	max-width:90%;
	margin-left:4em;
}
.timeline-wrapper:before{
	left: 24px;
}
.sub_info {
	margin-bottom: 10px;
}
.number {
	text-align: right;
}
.more {
	text-shadow: 0px 0px 15px #888888;
}
.submit-btn{
	font-size: 1.5em; margin:0; color:#102f27 !important; text-align:center
}
.form-control{
	color: #01934c;
}
.form-control:focus{
	color: #01934c;
}
.select-input {
	color: #01934c;
}
.select-input:focus {
	color: #231f1e !important;
}
.input-file::-webkit-file-upload-button {
	background-color: #01934c;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.4s ease;
}
.input-file::-webkit-file-upload-button:hover {
	background-color: #8fe3ae;
	color: #000;
}
.finish-btn {
	padding: 5px; width:50%; text-transform:uppercase; letter-spacing:5px;
}
.contact-form .submit-btn:hover {
	color: #1ec27e !important;
}
label {
	color: #1ec27e;
	font-weight: bold;
}
small {
	color: #1ec27e;
}
hr {
	margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-top: 3px solid #1ec27e;
}
@media(max-width:991px){
	.finish-btn{
		width: 100%;
	}
}
@media(max-width:400px){
	.finish-btn{
		letter-spacing:2px;
	}
}
@media(max-width:342px){
	.finish-btn{
		letter-spacing:0px;
	}
}
.timeline:before{
    z-index: -1;
    left: 12px !important;
    height: 100%;
    width: 3px;
}
.accordion-item{
    margin-bottom: 3%;
    /* margin-top: -5%; */
    border: none;
}

