.offcanvas-header{
    background-color: white;
}
.offcanvas-body{
    background-color: white;

}
.nav{
    color: black!important;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-right: 0;
    padding-left: 0;
    letter-spacing: -.01rem;
    display: block;
    font-size: .8rem;
    font-weight: 700;
    transition: color .2s ease-in-out;
    text-decoration: none;
}
.logo{
    height: 90px;
    width: 170px
}